/* Início conteúdo editGame */
.editGameContent {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
  }
  
  .editGameContent .logo {
    margin-top: -5%;
  }
  
  .editGameContent .logo .logoImg {
    max-width: 25rem;
  }
  
  .editGameContent .editGameCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 28rem;
    height: 22rem;
    margin-right: 3rem;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 1rem;
    box-shadow: 0 8px 32px 0 var(--primary-alpha);
    border: solid 1px var(--primary-color);
    font-family: "Poppins";
    color: var(--secondary-color);
  }
  
  .editGameContent .editGameCard .editGameCardHeader {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  
  .editGameContent .editGameCard .editGameCardBody {
    width: 70%;
  }
  /* Fim conteúdo editGame */
  
  /* RESPONSIVIDADE */
  @media (max-width: 1200px) {
    /* Início do conteúdo editGame */
    .editGameContent .editGameCard {
      width: 22rem;
      height: 15rem;
      margin: 0;
    }
  
    .editGameContent .editGameCard .editGameCardHeader {
      margin-bottom: 0.1rem;
    }
  
    .input {
      padding: 1rem;
      margin-bottom: 0;
    }
    /* Fim do conteúdo editGame */
  }
  
  @media (max-width: 768px) {
    /* Início do conteúdo editGame */
    .editGameContent {
      flex-direction: column;
      justify-content: center;
    }
  
    .editGameContent .logo .logoImg {
      max-width: 20rem;
      margin-bottom: 4rem;
      margin-top: -5rem;
    }
  
    .editGameContent .editGameCard {
      width: 20rem;
      height: 20rem;
      margin: 0;
    }
  
    .editGameContent .editGameCard .editGameCardHeader {
      margin-bottom: 1.5rem;
    }
  
    /* Fim do conteúdo editGame */
  }
  /* FIM RESPONSIVIDADE */
  